*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #afabab;
    color: #F2F2F2;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  button {
    cursor: pointer;
  }
  